/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.container {
    margin: 50px auto;
    width: 1000px;
    min-height: 100px;
    background-color: lavender;
}
.shopping-list {
    font-size: 2rem;
    list-style-type: none;
}
